<div id="<%= dom_id token_transaction %>">
  <p>
    <strong>Child:</strong>
    <%= token_transaction.child_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= token_transaction.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= token_transaction.description %>
  </p>

</div>
