<h1>Editing token transaction</h1>

<%= render "form", token_transaction: @token_transaction %>

<br>

<div>
  <%= link_to "Show this token transaction", @token_transaction %> |
  <%= link_to "Back to token transactions", token_transactions_path %>
</div>
