<h1>Editing chore assignment</h1>

<%= render "form", chore_assignment: @chore_assignment %>

<br>

<div>
  <%= link_to "Show this chore assignment", @chore_assignment %> |
  <%= link_to "Back to chore assignments", chore_assignments_path %>
</div>
